services:
  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: fastapi_api
    ports:
      - "8000:8000"
    environment:
      PYTHONDONTWRITEBYTECODE: "1"
      PYTHONUNBUFFERED: "1"
      OLLAMA_HOST: "http://host.docker.internal:11434"
      VECTOR_DB: "postgresql+psycopg2://raguser:ragpass@db:5432/ragobs"

    volumes:
      - ./backend:/app
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    restart: unless-stopped
    depends_on:
      - db
    
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "5173:5173"
    environment:
      CHOKIDAR_USEPOLLING: "true"
      SERVER_URL: "http://localhost:8000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    restart: unless-stopped

  db:
    image: pgvector/pgvector:pg16
    container_name: pgvector_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: ragobs
      POSTGRES_USER: raguser
      POSTGRES_PASSWORD: ragpass
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  pgdata:
