fastapi
uvicorn[standard]
langchain
python-multipart
langchain
langchain-core
langchain-community
# langchain-openai
langchain-text-splitters
sentence-transformers 
faiss-cpu 
numpy
ollama
sqlalchemy>=2.0
psycopg2-binary
pgvector
PyJWT
redis 
rq
